extends layout

block content
	.container-fluid
		#myCarousel.carousel.slide
			ol.carousel-indicators
				li.active(data-target="#myCarousel",data-slide-to="0")
				li(data-target="#myCarousel",data-slide-to="1")
				li(data-target="#myCarousel",data-slide-to="2")
					
			.carousel-inner
				- var defalut=0
				- for(var i=0;i<slides.length;i++)
					if defalut == i
						a.active.item(href="#{slides[i].href}")
							img(src="#{slides[i].imgUrl}")
							.carousel-caption
								h4 #{slides[i].title}
									p #{slides[i].dscrpt} #{title}
					else
						a.item(href="#{slides[i].href}")
							img(src="#{slides[i].imgUrl}")
							.carousel-caption
								.carousel-caption
									h4 #{slides[i].title}
									p #{slides[i].dscrpt}
	.container.xilieCon
		ul.row.xilie
			- for(var i=0;i<xilies.length;i++)
				li.col-md-2
					.li_div
						a(href="/list/M8")
							.xilie_name  #{xilies[i].title}
							.zhe_layer
							.zhe_con #{xilies[i].desc}
	script.
		$('.carousel').carousel()


